@charset "UTF-8";
html {
  font-size: 16px;
  cursor: none;
}

a:hover {
  cursor: none;
}

body {
  font-size: 1rem;
  color: #0e0e0e;
  background-color: #fdfdfd;
}

/*マウスカーソル*/
.cursor {
  position: fixed;
  top: -120px;
  left: -120px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: none;
  background: #0e0e0e;
  z-index: 1000;
  pointer-events: none;
  transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s, background 0.5s;
}
.cursor::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #52c1ff;
  transition: background-color 0.5s;
}

/*aタグにホバーした際のスタイル変化*/
.cursor.cursor--hover {
  width: 24px;
  height: 24px;
  top: -12px;
  left: -12px;
  background: transparent;
}
.cursor.cursor--hover::after {
  background-color: rgba(255, 215, 82, 0.7);
}

.typing {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.typing-effect {
  width: 23ch;
  animation: typing 2.5s steps(23) forwards, effect 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.25rem;
  letter-spacing: 0.02em;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes effect {
  50% {
    border-color: transparent;
  }
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.25rem;
}

.page-link {
  height: auto;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.page-link h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2.25rem;
}
.page-link li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #0e0e0e;
  text-align: center;
  display: block;
  padding: 1.5rem 0;
}