@use "../scss/style" as *;
h1 {
  font-family: $title-font;

  font-size: $font-size-large;
}

img {
  width: 100%;
  height: auto;
}

//タイピング
.typing-effect-gallery {
  width: 190px;
  max-width: 190px;
  animation: typing 1s steps(8) forwards,
    effect 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid $black;
  position: fixed;
  top: 15%;
  left: 10%;
  line-height: normal;
  font-weight: $light;
  font-size: $font-size-large;

  @include mq(sp) {
    width: 130px;
    animation: typing 1s steps(8) forwards,
      effect 0.5s step-end infinite alternate;
    white-space: nowrap;
    position: static;
    margin-left: 10vw;
  }
  @include mq(tab) {
    position: static;
    margin-left: 10vw;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}

//タイトル
.gallery-list-title-container {
  margin-top: 168px;
  margin-right: calc(1011 / 1440 * 100%);

  @include mq(sp) {
    margin-top: 20vw;
    display: block;
    margin-right: 0;
  }

  @include mq(tab) {
    margin-right: 0;
    margin-top: 20vw;
    display: block;
  }
}
section div .gallery-list-title {
  font-size: $font-size-large;
  letter-spacing: $spacing-page-title;
  transition: color 0.5s;

  @include mq(sp) {
    font-size: $font-size-medium;
    display: block;
  }
}

//gallery-list

.gallery-list-wrapper {
  width: 100%;
  max-width: 60vw; // コンテンツの最大幅を設定
  // margin-left: calc(443 / 1440 * 100%);
  margin-top: 10vw;
  margin-left: 35vw;
  margin-bottom: 15vw;

  @include mq(sp) {
    margin: 0 auto;
    margin-top: 20vw;
    max-width: 80vw;
  }

  @include mq(tab) {
    margin: 0 auto;
    margin-top: 20vw;
    max-width: 80vw;
  }
  ul {
    display: block;

    @include mq(sp) {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
    }
    @include mq(tab) {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
    }

    li {
      margin-bottom: 5vw;

      @include mq(sp) {
        margin-bottom: 12vw;
      }

      @include mq(tab) {
        margin-bottom: 10vw;
      }

      a img {
        width: 100%;
        margin: 0 auto;
        transition: transform 0.3s ease, opacity 0.3s ease;
        will-change: transform;
        position: relative;
        z-index: 0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      }

      a img:hover {
        transform: scale(1.08);
        opacity: 0.8;
        z-index: 10;
      }

      h2 {
        margin: 2vw 0 0 0;
        font-size: $font-size-medium;
        font-family: $main-font-en;
        font-weight: $light;
        letter-spacing: $spacing-text-en;

        @include mq(sp) {
          margin-top: 5vw;
          font-size: $font-size-sp-title;
        }
      }
      p {
        margin-top: $font-size-normal;
        font-family: $main-font-en;
        font-weight: $light;
        line-height: 1;
        letter-spacing: $spacing-text-en;
      }
    }
  }
}

.gallery-list-wrapper-title {
  font-family: $main-font-en;
  font-size: $font-size-medium;
  margin-bottom: 5vw;
  border-bottom: 1px solid $black;
  padding-bottom: 3%;
  letter-spacing: $spacing-text-en;

  @include mq(sp) {
    margin-bottom: 10vw;
  }
}
