@use "../scss/style" as *;
h1 {
  font-size: $font-size-large;
}

img {
  width: 240px;
  height: auto;
}

//タイピング
.typing-effect-gallery {
  width: 7ch;
  animation: typing 1s steps(7) forwards,
    effect 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid $black;
  font-family: $main-font-en;
  font-weight: $light;
  font-size: $font-size-large;
  letter-spacing: 0.02em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}

//タイトル
.gallery-list-title-container {
  margin-top: 168px;
  margin-right: calc(1011 / 1440 * 100%);
}
section div .gallery-title {
  font-size: $font-size-large;
  letter-spacing: 0.225rem;
  transition: color 0.5s;
}

//gallery-list

.gallery-list-wrapper {
  width: 100%;
  max-width: 832px; // コンテンツの最大幅を設定
  margin-left: calc(443 / 1440 * 100%);
  margin-top: 116px;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 240px); // 3列、各列240px
    gap: 56px; // アイテム間の余白
    justify-content: center; // グリッドを中央に配置

    li {
      margin-bottom: 82px;

      h2 {
        margin: 27px 0;
        font-size: 20px;
        font-family: $main-font-en;
        font-weight: $light;
      }
      p {
        margin-top: 16px;
        font-family: $main-font-en;
        font-weight: $light;
      }
    }
  }
}
