@use "../scss/style" as *;

// プロフィールページ専用のタイピングスタイル
.typing {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 270px;
}

.typing-effect-profile {
  width: 11rem;
  animation: typing 1s steps(8) forwards,
    effect 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid $black;
  position: fixed;
  top: 15%;
  left: 10%;

  font-weight: $light;
  font-size: $font-size-large;
  letter-spacing: 0.02em;

  @include mq(sp) {
    width: 8rem;
    animation: typing 1s steps(8) forwards,
      effect 0.5s step-end infinite alternate;
    white-space: nowrap;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}

//profile h1タイトル
.profile-title-container {
  margin-top: 168px;
  margin-right: calc(1011 / 1440 * 100%);

  @include mq(sp) {
    margin-right: calc(200 / 402 * 100%);
    margin-top: 100px;
  }

  @include mq(tab) {
    margin-right: calc(200 / 402 * 100%);
  }
}

section div .profile-title {
  font-size: $font-size-large;
  letter-spacing: 0.2rem;
  transition: color 0.5s;
  font-family: monospace;

  @include mq(sp) {
    font-size: $font-size-medium;
  }
}

//profile-wrapper
.profile-wrapper {
  display: block;
  margin-top: 82px;

  @include mq(tab) {
    margin-top: 200px;
  }
}

.about-me {
  margin-left: calc(594 / 1440 * 100%);
  margin-bottom: 114px;
  line-height: 1.5;

  @include mq(sp) {
    margin-bottom: 70px;
    margin-left: 11%;
    margin-right: 5%;
  }

  @include mq(tab) {
    margin-left: calc(350 / 1440 * 100%);
    margin-right: 10px;
  }

  h2 {
    font-size: $font-size-medium;
    margin-bottom: 86px;

    @include mq(sp) {
      font-size: 20px;
      margin-bottom: 44px;
    }

    @include mq(tab) {
      font-size: $font-size-medium;
    }
  }
  p {
    margin-left: 134px;
    line-height: 1.5;

    @include mq(sp) {
      line-height: 1.5;
      margin-left: 0;
    }

    @include mq(tab) {
      margin-left: 100px;
      letter-spacing: 0.02em;
    }
  }
}

.skils {
  margin-left: calc(655 / 1440 * 100%);

  @include mq(sp) {
    margin-left: 11%;
    margin-right: 5%;
  }

  @include mq(tab) {
    margin-left: calc(350 / 1440 * 100%);
    margin-right: 10px;
    margin-bottom: 50px;
  }

  h2 {
    font-size: $font-size-medium;
    margin-bottom: 83px;

    @include mq(sp) {
      font-size: 20px;
      margin-bottom: 44px;
    }

    @include mq(tab) {
      font-size: $font-size-medium;
    }
  }

  h3 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    @include mq(sp) {
      margin-bottom: 1rem;
    }
  }

  .skils-right {
    margin-left: 4.5rem;

    @include mq(sp) {
      margin-left: 0;
    }

    @include mq(tab) {
      margin-left: 100px;
    }
  }

  p {
    @include mq(sp) {
      margin-bottom: 50px;
      line-height: 1.5;
    }
  }
}
