@use "../scss/style" as *;

.profile {
  width: 100%;
  height: 100%;
  background-color: $white;
}

// プロフィールページ専用のタイピングスタイル
.typing {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 270px;
}

.typing-effect-profile {
  width: 6ch;
  animation: typing 1s steps(6) forwards,
    effect 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid $black;
  font-family: $main-font-en;
  font-weight: $light;
  font-size: $font-size-large;
  letter-spacing: 0.02em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}

//profile h1タイトル
.profile-title-container {
  margin-top: 168px;
  margin-right: calc(1011 / 1440 * 100%);
}

section div .profile-title {
  font-size: $font-size-large;
  transition: color 0.5s;
}

//profile-wrapper
.profile-wrapper {
  display: block;
  margin-top: 82px;
}

.about-me {
  margin-left: calc(594 / 1440 * 100%);
  margin-bottom: 114px;
  h2 {
    font-size: $font-size-medium;
    margin-bottom: 86px;
  }
  p {
    margin-left: 134px;
    line-height: 1.5;
  }
}

.skils {
  margin-left: calc(655 / 1440 * 100%);

  h2 {
    font-size: $font-size-medium;
    margin-bottom: 83px;
  }

  h3 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  .skils-right {
    margin-left: 4.5rem;
  }
}
