@use "../scss/style.scss" as *;

// プロフィールページ専用のタイピングスタイル
.typing {
  height: auto;
  display: block;
  margin-left: 10vw;
  margin-top: 270px;
  max-width: fit-content;
}

.typing-effect-profile {
  width: 123px;
  max-width: 123px;
  animation: typing 1s steps(8) forwards,
    effect 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid $black;
  position: fixed;
  top: 15%;
  left: 10%;
  line-height: normal;
  font-weight: $light;

  @include mq(sp) {
    width: 125px;
    max-width: 125px;
    animation: typing 1s steps(8) forwards,
      effect 0.5s step-end infinite alternate;
    white-space: nowrap;
    position: static;
  }

  @include mq(tab) {
    width: 123px;
    max-width: 123px;
    animation: typing 1s steps(8) forwards,
      effect 0.5s step-end infinite alternate;
    white-space: nowrap;
    position: static;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}

//profile h1タイトル
.profile-title-container {
  margin-top: 20vw;
}

section div .profile-title {
  font-size: $font-size-medium;
  letter-spacing: $spacing-page-title;
  transition: color 0.5s;
  font-family: $title-font;

  @include mq(sp) {
    font-size: $font-size-medium;
  }
}

//profile-wrapper
.profile-wrapper {
  display: block;
  margin-top: 20vw;

  @include mq(sp) {
    margin-top: 25vw;
  }

  @include mq(tab) {
    width: 80vw;
    margin: 20vw auto 0 auto;
  }
}

//共通クラス
.profile-h2 {
  font-family: $main-font-en;
  letter-spacing: $spacing-text-en;
  font-size: $font-size-sp-title;
  margin-bottom: 2vw;
  border-bottom: 1px solid $black;
  padding-bottom: 3%;

  @include mq(sp) {
    font-size: 20px;
    margin-bottom: 7vw;
  }

  @include mq(tab) {
    font-size: $font-size-sp-title;
    margin-bottom: 5vw;
  }
}

.skills-h3 {
  font-family: $main-font-en;
  margin-bottom: 1vw;
  line-height: 1.5;
  letter-spacing: $spacing-text-en;
  @include mq(sp) {
    margin-bottom: 4vw;
  }
}

.skills-p {
  font-family: $main-font-en;
  letter-spacing: $spacing-text-en;
  line-height: 1.5;
  margin-bottom: 1.5rem;

  @include mq(sp) {
    margin-bottom: 10vw;
  }
}

.about-me {
  width: 50%;
  margin-left: 40vw;
  margin-bottom: 7vw;
  line-height: 1.5;

  @include mq(sp) {
    margin: 0 auto 15vw auto;
    width: 80vw;
  }

  @include mq(tab) {
    margin: 0 auto;
    width: 100%;
  }

  .about-me-text {
    line-height: 1.8;
    width: 100%;
    font-family: $main-font-jp;
    letter-spacing: $spacing-text-jp;
    font-weight: $normal;
    font-size: $font-size-normal;

    @include mq(sp) {
      line-height: 1.7;
      margin-left: 0;
    }

    @include mq(tab) {
      margin-left: 0;
    }
  }
}

.skills {
  width: 50%;
  margin-left: 40vw;
  margin-bottom: 5vw;

  @include mq(sp) {
    margin: 0 auto;
    width: 80vw;
  }

  @include mq(tab) {
    margin: 10vw auto 0 auto;
    width: 100%;
  }

  .skills-wrapper {
    @include mq(sp) {
      margin-left: 0;
    }

    @include mq(tab) {
      margin-left: 0;
    }
  }
}
