@use "../../scss/style.scss" as *;

// * {
//   outline: 1px solid magenta;
// }

//h3のフォントサイズを定義
$font-size-h3: 1.25rem;

// タイピングスタイル
.typing {
  height: auto;
  display: block;
  margin-left: 10vw;
  margin-top: 10vw;
  max-width: fit-content;

  @include mq(tab) {
    margin-top: 20vw;
  }
}

.typing-effect-contents {
  width: 490px;
  max-width: 490px;
  animation: typing 1s steps(13) forwards,
    effect 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid $black;
  line-height: normal;
  font-weight: $light;

  @include mq(sp) {
    width: 275px;
    max-width: 275px;
    animation: typing 1s steps(8) forwards,
      effect 0.5s step-end infinite alternate;
    white-space: nowrap;
  }

  @include mq(tab) {
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes effect {
  50% {
    border-color: transparent;
  }
}

//profile h1タイトル
.contents-title-container {
  @include mq(sp) {
    margin-top: 25vw;
  }
}

section div .contents-title {
  font-size: $font-size-large;
  letter-spacing: $spacing-page-title;
  transition: color 0.5s;
  font-family: $title-font;

  @include mq(sp) {
    font-size: 1.25rem;
  }

  @include mq(tab) {
    font-size: $font-size-large;
  }
}

//contents-wrapper
.contents-wrapper {
  display: block;
  margin-top: 10vw;

  @include mq(sp) {
    margin-top: 20vw;
  }

  @include mq(tab) {
    width: 80vw;
    margin: 15vw auto 0 auto;
  }
}

//共通クラス
.contents-h2 {
  font-family: $main-font-jp;
  letter-spacing: $spacing-text-jp;
  font-size: $font-size-medium;
  margin-bottom: 2vw;
  border-bottom: 1px solid $black;
  padding-bottom: 3%;

  @include mq(sp) {
    font-size: $font-size-sp-title;
    margin-bottom: 7vw;
  }

  @include mq(tab) {
    font-size: $font-size-medium;
    margin-bottom: 5vw;
  }
}

.contents-block {
  width: 50%;
  margin-left: 40vw;
  margin-bottom: 7vw;

  @include mq(sp) {
    margin: 0 auto 15vw auto;
    width: 80vw;
  }

  @include mq(tab) {
    margin: 10vw auto 10vw auto;
    width: 80vw;
  }

  .contents-block-text {
    line-height: 1.8;
    width: 100%;
    font-family: $main-font-jp;
    letter-spacing: $spacing-text-jp;
    font-weight: $normal;
    font-size: $font-size-normal;

    @include mq(sp) {
      line-height: 1.7;
      margin-left: 0;
    }

    @include mq(tab) {
      margin-left: 0;
    }
  }
}

.contents-img1 {
  width: 100%;
}

.contents-h3 {
  font-family: $main-font-en;
  letter-spacing: $spacing-text-en;
  font-size: $font-size-h3;
  margin-bottom: 5px;

  @include mq(sp) {
    font-size: $font-size-sp-title;
    margin-bottom: 2vw;
  }

  @include mq(tab) {
    font-size: $font-size-medium;
    margin-bottom: 2vw;
  }
}

.target {
  margin-bottom: 2vw;

  @include mq(sp) {
    margin-bottom: 8vw;
  }

  @include mq(tab) {
    margin-bottom: 5vw;
  }
}

a img {
  width: 100%;
  margin: 0 auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform;
  position: relative;
  z-index: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

a img:hover {
  transform: scale(1.08);
  opacity: 0.8;
  z-index: 10;
}
