@use "../../scss/style.scss" as *;
@use "../../scss/scss-content/cola.scss" as *;

.typing-effect-contents {
  width: 255px;
  max-width: 255px;
  animation: typing 1s steps(10) forwards,
    effect 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid $black;

  line-height: normal;
  font-weight: $light;

  @include mq(sp) {
    width: 142px;
    max-width: 142px;
    animation: typing 1s steps(10) forwards,
      effect 0.5s step-end infinite alternate;
    white-space: nowrap;
  }
}
