// ブレークポイントの定義
$breakpoint: (
  sp: "screen and (max-width: 767px)",
  tab: "screen and (min-width: 768px)",
  pc: "screen and (min-width: 1025px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

.Gallery {
  color: #000;
  cursor: auto;
  .gallery-card-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;

    @include mq(sp) {
      display: block;
    }

    @include mq(tab) {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 2カラムに設定 */
      gap: 20px; /* カード間の隙間 */
    }

    @include mq(pc) {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3カラムに設定 */
      gap: 20px;
    }
  }

  .back {
    margin: 2% 0;
    width: 100%;

    @include mq(sp) {
      margin: 10% 0;
    }

    a {
      color: #000;
      display: block;
      border: 2px solid #000;
      width: 10%;
      padding: 1.5%;
      text-align: center;
      border-radius: 10px;
      margin: 0 auto;
      cursor: pointer;

      @include mq(sp) {
        padding: 3%;
      }

      &:hover {
        color: #fff;
        background-color: #000;
        opacity: 0.9;
        transition: 0.2s;
      }
    }
  }
}
